.christmas
  =image_tag "merry_christmas.jpg", class: "merry"
  p
    =_("We wish you a Merry Christmas and a Happy New Year!")
    br
    =_("It was a pleasure to work with you.")
  =image_tag "fireworks1.gif"
  =image_tag "fireworks2.gif"
  =image_tag "fireworks3.gif"
  iframe(src="#{page_path("ticker")}" width="100%" height="40" frameborder="0" scrolling="no")

