-provide :page_title, _("Interest Calculation")
-provide :header_title, _("Interest Calculation")
-provide :foto_class, "foto-service"
-provide :header_area
  =render "layouts/big_header"

p=_("Here you can calculate the amount of the total interest you have to pay for a credit. This service is only for calculation of linear credit interests! Please enter funds and interest rate for your request and press 'calculate' to get the total interest. No guarantee taken for the results!")


=render "coming_soon"
