-provide :page_title, _("Papertrade")

.page.businessline
  p=_("We provide this service in co-operation with qualified special firms and our own technicians.")
  =image_tag("businesslines/papertrade/1.jpg")
  =image_tag("businesslines/papertrade/2.jpg")
  =image_tag("businesslines/papertrade/3.jpg")
  =image_tag("businesslines/papertrade/4.jpg")

