-provide :page_title, _("Inquiry %{id}") % {id: @inquiry.id}

.panel.panel-default
  .panel-heading Tools
  .list-group
    =link_to _("Show item"), @inquiry.buyable, :class => "list-group-item"
    =link_to _("Writo to ROEPA staff"), [:buyer_message, @inquiry], :remote => true, class: "list-group-item new-message"

=simple_form_for @inquiry, html: {multipart: true, class: "form-horizontal"} do |f|
  =field_set_tag _("Basics") do
    =f.input :id, as: :string, label: _("Id"), input_html: {value: @inquiry.id, disabled: true}, required: false
    =f.input :created_at, as: :string, label: _("Created"), input_html: {value: time(@inquiry.created_at, false), disabled: true}, required: false
    =f.input :updated_at, as: :string, label: _("Updated"), input_html: {value: time(@inquiry.updated_at, false), disabled: true}, required: false
    =f.input :item, as: :string, label: _("Item"), input_html: {value: buyable(@inquiry.buyable), disabled: true}
    =f.input :assigned_employee, as: :string, label: _("Contact"), input_html: {value: @inquiry.assigned_employee ? @inquiry.assigned_employee.fullname : "", disabled: true}
    =f.input :state, as: :string, label: _("State"), input_html: {value: inquiry_state(@inquiry.state), disabled: true}

br
=render "messages", messages: @inquiry.messages

coffeeview:
  $ ->
    if window.location.hash is "#write"
      $("a.new-message").trigger("click")
